In [1]:
import pandas as pd

In [2]:
lic_24=pd.read_csv('lic-data-2024.csv')

In [ ]:
lic_24 = lic_24.drop(columns=lic_24.columns[19:157])
lic_24 = lic_24.drop(columns='groupe')

lic_24=lic_24[["annee",
        "code_fed",
        "nom_fed",
        "total_lic",
        "total_f",
        "total_h",
        "h_1_9",
        "h_10_19",
        "h_20_29",
        "h_30_59",
        "h_60_74",
        "h_75",
        "f_1_9",
        "f_10_19",
        "f_20_29",
        "f_30_59",
        "f_60_74",
        "f_75"]]

lic_24['annee'] = lic_24['annee'].apply(str)
lic_24['code_fed'] = lic_24['code_fed'].apply(str)


lic_24.head()

,annee,code_fed,nom_fed,total_lic,total_f,total_h,h_1_9,h_10_19,h_20_29,h_30_59,h_60_74,h_75,f_1_9,f_10_19,f_20_29,f_30_59,f_60_74,f_75
0,2024,101,ATHLETISME,313957,150829,163128,30546,41900,14328,58878,15582,1894,26342,52080,11711,47550,12286,860
1,2024,102,AVIRON,45897,21156,24741,215,6978,2016,9979,4750,803,138,4687,1650,10874,3584,223
2,2024,103,BADMINTON,208986,77347,131639,9259,39760,19036,59288,4147,149,5122,24303,14790,31665,1406,61
3,2024,105,BASKETBALL,615771,213102,402669,93486,191555,36406,74862,5488,872,48887,101746,19671,39415,2905,478
4,2024,106,BOXE,69758,15840,53918,4032,25078,10331,12828,1426,223,1254,7461,1964,4731,371,59

In [7]:
lic_24['annee'] = lic_24['annee'].apply(str)
lic_24['code_fed'] = lic_24['code_fed'].apply(str)
lic_24.info()

<class 'pandas.DataFrame'>
RangeIndex: 117 entries, 0 to 116
Data columns (total 18 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   annee      117 non-null    str
 1   code_fed   117 non-null    str
 2   nom_fed    117 non-null    str
 3   total_lic  117 non-null    int64
 4   total_f    117 non-null    int64
 5   total_h    117 non-null    int64
 6   h_1_9      117 non-null    int64
 7   h_10_19    117 non-null    int64
 8   h_20_29    117 non-null    int64
 9   h_30_59    117 non-null    int64
 10  h_60_74    117 non-null    int64
 11  h_75       117 non-null    int64
 12  f_1_9      117 non-null    int64
 13  f_10_19    117 non-null    int64
 14  f_20_29    117 non-null    int64
 15  f_30_59    117 non-null    int64
 16  f_60_74    117 non-null    int64
 17  f_75       117 non-null    int64
dtypes: int64(15), str(3)
memory usage: 16.6 KB

In [8]:
lic_24.to_csv("lic_clean_2024.csv")