In [1]:
import pandas as pd

In [2]:
df=pd.read_csv("Data media - Evenements sportifs.csv")

In [3]:
df.head()

,évènement,sport,année,audience TV moynne total event,audience TV moy par match,Nombre de matchs,heures d'antenne (télévision linéaire),nombre de posts RS
0,Euro féminin,Football,2017.0,1100000.0,NaN,31.0,NaN,NaN
1,Euro féminin,Football,2022.0,2600000.0,3400000.0,31.0,NaN,NaN
2,Euro féminin,Football,2025.0,1300000.0,4000000.0,31.0,NaN,NaN
3,Jeux Olympiques Paris,NaN,2024.0,59400000.0,30000000.0,329.0,600.0,869000
4,Jeux Olympiques Tokyo,NaN,2021.0,50000000.0,270000.0,339.0,569.0,NaN

In [5]:

    #data = pd.read_csv(DATA_MEDIA_URL,nrows=nrows)
    data=pd.read_csv("Data media - Evenements sportifs.csv")
    data=data.rename(columns=
                {"évènement": "event",
                  "année": "year", 
                  "audience TV moynne total event":"global_tv_coverage_avg", 
                  "audience TV moy par match" : "match_tv_coverage_avg", 
                  "Nombre de matchs" : "matchs_nb" })
    data["year"]= pd.to_datetime(data["year"], format="%Y")
    data=data.drop(columns=["nombre de posts RS","heures d'antenne (télévision linéaire)"])
    data['sport']=data["sport"].fillna("multi")
    data.head()

,event,sport,year,global_tv_coverage_avg,match_tv_coverage_avg,matchs_nb
0,Euro féminin,Football,2017-01-01,1100000.0,NaN,31.0
1,Euro féminin,Football,2022-01-01,2600000.0,3400000.0,31.0
2,Euro féminin,Football,2025-01-01,1300000.0,4000000.0,31.0
3,Jeux Olympiques Paris,multi,2024-01-01,59400000.0,30000000.0,329.0
4,Jeux Olympiques Tokyo,multi,2021-01-01,50000000.0,270000.0,339.0

In [ ]:
data

,event,sport,year,global_tv_coverage_avg,match_tv_coverage_avg,matchs_nb
0,Euro féminin,Football,2017-01-01,1100000.0,NaN,31.0
1,Euro féminin,Football,2022-01-01,2600000.0,3400000.0,31.0
2,Euro féminin,Football,2025-01-01,1300000.0,4000000.0,31.0
3,Jeux Olympiques Paris,multi,2024-01-01,59400000.0,30000000.0,329.0
4,Jeux Olympiques Tokyo,multi,2021-01-01,50000000.0,270000.0,339.0
5,Jeux Olympiques Rio,multi,2016-01-01,44000000.0,4000000.0,306.0
6,Jeux Olmpiques Londres,multi,2012-01-01,46500000.0,10000000.0,NaN
7,Championnat du monde,Football,2022-01-01,NaN,8000000.0,64.0
8,Coupe du monde féminin,Rugby,2017-01-01,1300000.0,2000000.0,30.0
9,Coupe du monde féminin,Rugby,2025-01-01,NaN,3000000.0,NaN
10,Championnat mondial masc,Rugby,2023-01-01,53500000.0,1114583.0,48.0
11,finale de la Ligue des Champions,Football,2025-01-01,11800000.0,11800000.0,1.0
12,finale Roland Garros,Tennis,2025-01-01,5500000.0,5500000.0,1.0
13,finale Roland Garros,Tennis,2011-01-01,5300000.0,5300000.0,1.0
14,demi-finale Roland Garros,Tennis,2025-01-01,5400000.0,5400000.0,1.0
15,Jeux Olympiques hiver Sochi,multi,2014-01-01,3800000.0,3000000.0,98.0
16,Jeux Olympiques hiver PyeongChang,multi,2018-01-01,41500000.0,1500000.0,84.0
17,Jeux Olympiques hiver Pekin,multi,2022-01-01,45000000.0,1800000.0,NaN
18,Coupe du Monde,Football,2014-01-01,40000000.0,8913071.0,28.0
19,Tour de France,Cyclisme,2024-01-01,43200000.0,3000000.0,19.0
20,Euro,Football,2016-01-01,40000000.0,12000000.0,33.0
21,Jeux Paralympiques Paris,multi,2024-01-01,51400000.0,2300000.0,549.0
22,Jeux paralympiques Tokyo,multi,2021-01-01,22000000.0,1500000.0,NaN
23,Jeux paralympiques Rio,multi,2016-01-01,13600000.0,1400000.0,100.0
24,Jeux Paralympiques Londres,multi,2012-01-01,13000000.0,800000.0,NaN
25,Roland Garros,Tennis,2016-01-01,NaN,NaN,NaN
26,Coupe de France,Football,2023-01-01,NaN,2000000.0,NaN
27,Championnats du monde,Natation,2025-01-01,2360000.0,1500000.0,NaN
28,Tour de France,Cyclisme,2025-01-01,45000000.0,3800000.0,NaN
29,NaN,multi,NaT,NaN,NaN,NaN
30,NaN,multi,NaT,NaN,NaN,NaN
31,NaN,multi,NaT,NaN,NaN,NaN
32,NaN,multi,NaT,NaN,NaN,NaN
33,NaN,multi,NaT,NaN,NaN,NaN
34,NaN,multi,NaT,NaN,NaN,NaN
35,NaN,multi,NaT,NaN,NaN,NaN
36,NaN,multi,NaT,NaN,NaN,NaN
37,Jeux Olympiques Pekin,multi,2008-01-01,37400000.0,NaN,NaN